<!DOCTYPE html>
<html lang="en-au">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <a class="skip-link" href="#main">Skip to content</a>
    {{ partial "header.html" . }}
    <main id="main">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ $js := slice (resources.Get "js/nav.js") (resources.Get "js/gallery.js") | resources.Concat "js/app.js" | minify | fingerprint }}
    <script src="{{ $js.RelPermalink }}" defer></script>
  </body>
</html>
